.header {
    display: flex;
    align-items: center; /* Vertically align items in the header */
    justify-content: space-between; /* Distribute space between TazinDev and the navbar */
    padding: 10px 20px; /* Add some padding around the header */
    background-color: hsl(0, 0%, 100%); /* White background */
}

h1 {
    color: black;
    margin-right: 1.25rem;
    margin-left: 0.625rem;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align navbar links in a row */
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
}

.navbar li {
    margin-right: 1rem; /* Add space between list items */
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 0.938rem;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    background-color: transparent;
    color: hsl(200, 100%, 70%);
}
